#color_temp_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 611px;
  width: 56px;
  overflow: hidden;
}

#color_temp {
  background: url('../images/sprite.png') -56px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 56px;
  _margin-left: -56px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}
#color_rdrain_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 611px;
  width: 56px;
  overflow: hidden;
}

#color_rdrain {
  background: url('../images/sprite.png') -0px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 0px;
  _margin-left: -0px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}

#color_rain_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 509px;
  width: 56px;
  overflow: hidden;
}

#color_rain {
  background: url('../images/sprite.png') -112px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 112px;
  _margin-left: -112px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}

#color_wind_10_outer, #color_wind_100_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 475px;
  width: 56px;
  overflow: hidden;
}

#color_wind_10, #color_wind_100 {
  background: url('../images/sprite.png') -224px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 224px;
  _margin-left: -224px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}

#color_weat_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 407px;
  width: 56px;
  overflow: hidden;
}

#color_weat {
  background: url('../images/sprite.png') -280px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 280px;
  _margin-left: -280px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}

#color_wave_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 305px;
  width: 56px;
  overflow: hidden;
}

#color_wave {
  background: url('../images/sprite.png') -336px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 336px;
  _margin-left: -336px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}
#color_aqi_outer,#color_aqi_now_outer {
  -webkit-background-size: contain;
  background-size: contain;
  height: 600px;
  width: 56px;
  overflow: hidden;
}

#color_aqi,#color_aqi_now {
  background: url('../images/sprite.png') -392px -0px no-repeat;
  width: 100%;
  height: 100%;
  _background: none;
  _padding-left: 392px;
  _margin-left: -392px;
  _padding-top: 0px;
  _margin-top: -0px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src="");
}
